@import url("experience.css");

body {
	font-family: 'Lato', sans-serif;	color: #34141F;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 100px;
	font-weight: 400;
	font-size: 16px;	
}

#minibio {
	margin-left: 50px;
}

h1 {
	font-weight: 700;
	font-size: 35px;
}

h4 {
	font-size: 20px;
	font-weight: 700;
}

h5 {
	font-size: 12px;
	font-weight: 300;
	color: rgb(175, 175, 175);
}

p {
	font-weight: 300;
}

#minibio {
	margin-bottom: 50px;
}

.col-xs-12 {
	padding: 0;
}
