@import url("experience.css");

body {
	font-family: 'Lato', sans-serif;	color: #34141F;
	margin: 0 auto;
	font-weight: 400;
	font-size: 16px;	
}

strong {
  box-shadow: inset 0px 0 #D23333;
}

.title-main {
	margin-bottom: 90px;
	color: rgb(90, 90, 90);
}

#minibio {
	margin-top: 100px;	
}

.fa {
  color: #9C9999;
  margin-right: 5px;
}

.fa:hover {
  color: #3F6487;
}

h1 {
	font-weight: 500;
	font-size: 24px;
  text-align: center;
}

h2 {
  font-size: 40px;
	font-weight: 700;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

h4 {
	font-size: 20px;
	font-weight: 700;
}

h5 {
	font-size: 12px;
	font-weight: 300;
	color: rgb(175, 175, 175);
}

p {
	font-weight: 300;
}

#minibio {
	margin-bottom: 25px;
}

.col-xs-12 {
	padding: 0;
}

#reachout {
  margin-bottom: 25px;
}

